<!--
  Name: Jin Huang
  StudentID: 301020707
-->
<% include partials/header.ejs %>

  <!--Main Nav Navigation-->
<% include partials/main_nav.ejs %>

  <main class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align:center">About me</h1>
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="Assets/images/picture.jpg" alt="Profile Picture" style="width: 200px; height: 200px; border-radius: 50%;">
      </div>
      <div class="col-md-8">
        <p class="lead">Welcome to the about me page!!! Here, you can view information about me and my interests.</p>
        <hr class="my-4">
        <p>Hello! my name is Jin Huang, I am currently in my last year studying Game - Programming. I am a person who is always seeking opportunities to learn and grow. I am interested in creating applications, game development, making new friends and I have developed an interested in working out a few months ago. I also enjoy spending time with my family and friends, exploring new places, and trying new foods. </p>
        <p>I am originally from China, but I moved here in Canada a few years ago as a domestic student. I can speak 3 languages: English, Mandarin and Cantonese. </p>
        <p>I hope you enjoy getting to know me a little better through this page. If you have any questions or want to learn more, please feel free to reach out and contact me. </p>
      </div>
    </div>
  </div>
</main>
<% include partials/bottom_nav.ejs %>
  <% include partials/footer.ejs %>
  <!--Script section -->