<!--
  Name: Jin Huang
  StudentID: 301020707
-->
<% include partials/header.ejs %>

  <!--Main Nav Navigation-->
<% include partials/main_nav.ejs %>

  <main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to COMP 229</h1>
    <hr class="my-4">
    <p class="lead">Hello! I am a student on a mission to learn web application development.</p>
    <p>I believe that web application development is an exciting field that offers many opportunities for creativity and growth. My goal as a student is to learn and grow my skills, and to use them to create fun and accessable web applications that can make many lives.</p>
  </div>
</main>
<% include partials/bottom_nav.ejs %>
  <% include partials/footer.ejs %>
  <!--Script section -->