<!--
  Name: Jin Huang
  StudentID: 301020707
-->
<% include partials/header.ejs %>
  <!--Main Nav Navigation-->
<% include partials/main_nav.ejs %>
  <main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Projects Page</h1>
    <p class="lead">Here are 3 Projects that I have worked on previously. </p>
    <hr class="my-4">
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="Assets/images/level.png" alt="Project 1">
      <h3>3D Game level Design</h3>
      <p>In my Game Development class, I learned how to create assets such as this 3d game level in the above image.</p>
    </div>
    <div class="col-md-4">
      <img src="Assets/images/game.png" alt="Project 2">
      <h3>2D Platformer</h3>
      <p>In my Game Development course, I created a 2D platformer alongside with my group members</p>
    </div>
    <div class="col-md-4">
      <img src="Assets/images/java.png" alt="Project 3">
      <h3>Java Database</h3>
      <p>Made an application to store student information and output student information</p>
    </div>
  </div>
</main>
<% include partials/bottom_nav.ejs %>
  <% include partials/footer.ejs %>
  <!--Script section -->